extends layout

block content
  h1= title
  p(class="status")

  div(class="btn-group", role="group")
    button(type="button", class="btn btn-default switch-on")エアコンON
    button(type="button", class="btn btn-default switch-off")エアコンOFF

  script(type='text/javascript').
    var url = 'http://api.getirkit.com/1/messages';
    var data = {};
    data.clientkey = "#{clientkey}";
    data.deviceid = "#{deviceid}";

    $('.switch-on').on('click', function() {
      data.message = '{"format":"raw","freq":38,"data":[873,873,787,873,787,873,873,873,873,873,873,50610,6648,3458,843,2537,815,904,904,904,815,904,904,2537,904,815,815,904,815,904,815,904,815,2537,815,904,904,2537,904,2537,904,904,815,2626,815,2626,815,2626,815,2626,815,2626,815,904,904,904,904,2537,904,904,787,904,787,787,787,787,787,904,787,787,787,904,787,787,787,904,787,787,787,2537,843,843,843,2537,843,843,843,843,843,843,843,2537,843,2537,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,2537,843,2537,843,2537,843,843,843,2537,843,843,843,2537,843,2537,843,65535,0,3704,6648,3704,843,2537,843,843,843,843,843,843,843,2537,843,843,843,843,843,843,843,843,843,2537,843,843,843,2537,843,2537,843,843,843,2537,843,2537,843,2537,843,2537,843,2537,843,843,843,843,843,2537,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,2537,843,843,843,843,843,843,843,843,843,2537,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,2537,843,843,843,2537,843,843,843,2537,843,843,843,65535,0,3704,6648,3704,843,2537,843,843,843,843,843,843,843,2537,843,843,843,843,843,843,843,843,843,2537,843,843,843,2537,843,2537,843,843,843,2537,843,2537,843,2537,843,2537,843,2537,843,843,843,843,843,2537,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,2537,843,843,843,843,843,2537,843,843,843,843,843,2537,843,843,843,843,843,843,843,2537,843,2537,843,843,843,2537,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,761,904,761,904,904,904,761,904,761,904,761,904,904,2537,843,843,843,2537,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,2537,843,2537,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,2537,843,2537,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,968,787,873,873,873,873,873,787,873,787,873,873,873,873,2537,815,904,904,904,787,904,904,904,904,904,904,2537,843,2537,843,843,843,843,843,843,843,843,843,843,843,843,843,843,843,2537,843,843,843,843,843,843,843,968,761,968,761,968,761,968,843,843,843,843,843,2537,843,2537,843,2537,843,843,843,843,843,2537,843,2537,843]}';
      $.ajax({
        type: 'POST',
        url: url,
        data: data,
        success: function() {
          console.log('switch-on success');
          $('.status').text('エアコンをonしました。');
        }
     });
    });

    $('.switch-off').on('click', function() {
      data.message = '{"format":"raw","freq":38,"data":[843,843,843,843,843,843,843,968,843,843,843,50610,6881,3458,787,2626,843,843,843,843,843,843,761,2626,843,843,843,843,843,843,843,968,843,2537,815,904,787,2626,815,2626,815,904,787,2537,815,2537,815,2537,815,2537,815,2537,815,815,815,935,761,2626,815,968,761,968,843,843,843,843,843,843,843,843,843,968,843,843,843,968,761,904,761,2626,843,843,761,2626,843,843,843,843,843,843,761,2626,815,2626,815,904,787,904,787,904,787,904,787,904,787,904,787,904,787,904,904,904,787,904,787,904,787,904,787,904,787,904,787,904,787,904,787,2626,843,2626,843,2626,843,843,843,2626,843,843,843,2626,843,2626,843,65535,0,3704,6881,3704,843,2537,843,935,787,787,787,935,787,2537,843,843,843,843,761,904,761,904,904,2537,815,935,761,2626,815,2626,815,935,761,2626,843,2626,843,2626,843,2626,843,2626,843,968,761,968,761,2626,843,843,761,935,761,935,761,935,761,843,843,935,843,843,843,843,843,843,843,843,843,843,843,2626,843,843,843,843,761,935,761,935,761,2626,815,904,904,904,787,904,904,904,787,904,787,904,787,904,904,904,787,904,904,904,787,904,787,904,787,904,787,904,787,904,787,904,787,904,787,904,787,904,787,2626,815,968,787,2537,815,968,761,2626,843,843,843,65535,0,3704,6648,3704,843,2537,843,843,843,843,761,968,761,2626,815,935,761,935,761,935,761,935,761,2537,843,843,843,2537,843,2537,843,843,761,2626,761,2626,843,2537,843,2537,843,2537,843,843,843,843,843,2537,843,843,761,935,761,843,843,968,761,935,761,935,761,935,761,935,761,935,761,935,761,935,761,935,761,935,761,935,761,935,761,935,761,935,761,935,761,935,761,935,761,935,761,2626,815,904,815,904,815,2626,761,935,761,935,761,935,761,2626,815,2626,815,935,815,2537,843,843,843,843,761,968,761,968,761,968,761,968,761,968,761,968,761,968,761,968,761,968,761,968,761,968,761,968,761,968,761,2626,843,843,843,2626,843,843,843,843,761,935,761,935,761,935,761,935,761,935,761,935,761,935,761,935,761,935,761,935,761,935,761,935,761,935,761,935,761,935,761,2537,787,2537,787,968,761,968,761,968,761,968,761,968,761,968,761,968,761,968,761,968,761,968,761,2626,815,2626,815,935,815,935,815,935,815,935,815,935,815,935,815,935,815,935,815,935,815,935,815,935,815,935,815,935,815,935,815,935,815,935,815,935,815,2626,761,935,761,935,761,935,761,935,761,935,761,2626,761,2626,761,968,815,968,815,968,815,968,815,968,815,968,815,968,815,2626,761,935,815,935,815,935,815,935,815,935,815,935,815,935,815,935,815,2626,815,904,761,2626,815,2626,815,904,761,904,761,2626,761,2626,761]}';
      $.ajax({
        type: 'POST',
        url: url,
        data: data,
        success: function() {
          console.log('switch-off success');
          $('.status').text('エアコンをoffしました。');
        }
     });
    });
